#conteneur{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  /*border: 2px solid cyan;*/
}

#tete{
  height: 10px;
  grid-column-start: 3;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;

}



.gmail, .logo, .image, .btn{
  text-decoration: none;
  color: black;
}

#contenu{
  height: 100px;
  /*border: 2px solid red;*/
  grid-column-start: 2;
  grid-row: 6;
  text-align: center;

}

.recherche{
  margin-top: 25px;
  margin-bottom: 25px;
}


img{
  height: 100%;
  width: auto;
}

input{
  height: 25px;
  width: 100%;
}

.footer_container {
   position:fixed;
   left:0px;
   bottom:0px;
   height:90px;
   width:100%;
   background:#f2f2f2;
   color: #68747d;
   font-size: 11pt;
}
.footer_container a{
  color: #68747d;
  font-size: 11pt;
}
.footer1{
  width: auto;
  padding: 15px 0 15px 20px;
  border-top: solid 1px #e4e4e4;
}
.footer2{
  border-top: solid 1px #e4e4e4;
}
.footer2 li{
  margin-left: 20px;
}
.footer_left li{
  list-style: none;
  display: inline-block;
}
.footer_left{
  margin-top: 12px;
}
.footer_right{
  margin-top: -13px;
    float: right;
}
.footer_right li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
